iframe{
	width: 100%;
	border-width: 0px;
}
.boas-vindas {
	text-align: center;
	color: #009;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 36px;
	text-transform: uppercase;
}
.login-titulo{
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
}
